@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,500&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bs1 {
  /* background-color: rgb(0, 0, 0); */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
    background-color: rgba(255, 255, 255, 0.05);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
/* border: 1px solid rgba(0, 0, 0, 0.3); */
}
.bs-1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

h1 {
  font-size: 30x;
  font-weight: bold;
  color: rgb(38, 38, 171);
}
p {
  margin: 5px !important;

  padding: 0px;
}

.header {
  padding: 10px;
}
.span{
  color: lightskyblue;
}
.login{
  background: url("https://source.unsplash.com/1000x800/?bikes") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading{
  display: flex;
}
.content {
  min-height: 90vh;
}

.bikeimg {
  height: 150px;
  width: auto;
  border-radius: 5px;
}

.bike-content {
  margin: 10px;
}

.bike {
  border-radius: 10px;
}

.btn1 {
  margin: 10px;
}

.login-form-button {
  margin: 8px;
}

.login-form {
  background-color: rgb(23, 22, 21);
  padding: 20px;
  height: 50vh;
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(0, 0, 0, 0.3);

}

.loginbtn {
  margin: 10px;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(38, 38, 171);
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 35px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.loginbtn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.loginbtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.loginbtn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.abc {
  color: rgb(255, 102, 0);
  font-weight: 1000;
  text-decoration: none;
}

.login label {
  color: rgb(255, 255, 255);
}

.login {
  background-color: rgb(7, 7, 7);
  min-height: 100vh;
}

.reg-img {
  object-fit: cover;
  width: 100%;
}

.bikeimg2 {
  object-fit: cover;
  height: 494px;
  border-radius: 10px;
  width: 632px;
}

.fancy {
  --b: 6px; /* control the border thickness */
  --w: 80px; /* control the width of the line*/
  --g: 15px; /* control the gap */
  --c: #0b486b;

  width: fit-content;
  padding: 0 1em;
  line-height: 1 rem;
  border: 1px solid;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: linear-gradient(
      #0000 calc(50% - var(--b) / 2),
      var(--c) 0 calc(50% + var(--b) / 2),
      #0000 0
    )
    1/0 var(--w) / calc(var(--w) + var(--g));
  margin-inline: auto;
}
